<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Analytic | Panel</title>
    <link rel="stylesheet" href="/css/panel.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>

<!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title"><b>Analytic 🛸</b></span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/panel">Home</a>
        <a class="mdl-navigation__link" href="/user_insights">User Insights</a>

      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">




        <div class="dashboard">
            <div style="display: flex; align-items: stretch;">
                <div style="width: 50%;" class="headlinecon">
                    <center><h3><b>Analytic 🛸</b></h3></center>
                </div>
                <div style="width: 50%;" class="profile-box">
                    <div id="dropdownmenu">
                        <div class="profile" id="profile">
                            <img src="/img/profile.png" alt="">
                        </div>
                        <div class="dropdown" id="dropdown" style="position: absolute;">
    
                        </div>
                    </div>
    
                </div>
            </div>
            <section class="stats">
                <div class="stat-box">
                    <h2><b>Total Users</b></h2>
                    <p>
                        <%= uca %>
                    </p>
                </div>
                <div class="stat-box">
                    <h2><b>Total Created Threads</b></h2>
                    <p>
                        <%= vcj %>
                    </p>
                </div>
                <div class="stat-box">
                    <h2><b>Total Messages</b></h2>
                    <p>
                        <%= umsgs %>
                    </p>
                </div>
            </section>
    
            <center>
                <div style="display: flex;">
                    <div class="chart-box">
                        <canvas id="userChart"></canvas>
                    </div>
                    <div class="chart-box">
                        <canvas id="userleaverjoin"></canvas>
                    </div>
                </div>
            </center>
    
            <footer>
                <p>&copy; oglis22 Production</p>
                <p>Background Image by <a href="https://vecteezy.com/">Vecteezy</a></p>
            </footer>
    
        </div>





      </div>
    </main>
  </div>


    


    <script src="/js/profile.js"></script>
    <script>
        async function createCharts() {
            //UserCountChart
            const userChart = document.getElementById('userChart');

            var userCountList = <%- JSON.stringify(uc) %>;

            new Chart(userChart, {
                type: 'line',
                data: {
                    labels: ['Jan', 'Feb', 'Mär', 'Apl', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                    datasets: [{
                        label: "User Count",
                        backgroundColor: "rgba(46, 138, 138, 0.35)",
                        borderColor: "rgba(46, 138, 138, 0.35)",
                        data: userCountList
                    }]
                }
            });

            //User Joins/Leaves

            var userleaverjoin = document.getElementById('userleaverjoin').getContext('2d');

            var uj = <%- JSON.stringify(uj) %>;
            var ul = <%- JSON.stringify(ul) %>;

            new Chart(userleaverjoin, {
                type: 'bar',
                data: {
                    labels: ['Jan', 'Feb', 'Mär', 'Apl', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                    datasets: [{
                        label: 'Leaves',
                        data: ul,
                        backgroundColor: 'rgb(255, 0, 0)',
                        borderRadius: Number.MAX_VALUE,
                        borderSkipped: false,
                    },
                    {
                        label: 'Joins',
                        data: uj,
                        backgroundColor: 'green',
                        borderRadius: Number.MAX_VALUE,
                        borderSkipped: false,
                    }
                    ]
                },
                options: {
                    responsive: true,
                }
            });
        }

        // Rufen Sie die asynchrone Funktion auf
        createCharts();

    </script>


</body>

</html>